/* TODO: Make everything use relative units */

/* tweaks */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }

/* variables */
:root {

    --green:        #237031;
    --blue:         #151573;
    --red:          #70120f;
    --grey:         #aaaaaa;

    --black:            #151520;
    --bright-black:     #282834;

    --dark-white:       #dfdfcf;
    --semidark-white:   #e8e8d3;
    --white:            #efefdf;
    --semibright-white: #f8f8e5;
    --bright-white:     #ffffef;

    --card-section-radius: 5px;
}

body {
    background-color: var(--black);

    /* TODO: consider font choice more carefully */
    font-family: "Avenir Next", sans-serif;
    line-height: 1.5;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2px;

    background-color: var(--white);

    cursor: grab;
    user-select: none;

    width: 250px;
    height: 350px;
    padding: 10px;
    border-radius: 15px;

    box-shadow: 5px 5px 15px -5px black;

    transition: transform 0.2s ease-in-out;
}

.card.unknown {
    background-color: var(--bright-black);

    border: var(--dark-white) 10px solid;
}

.card:hover {
    transform: translateY(-10px);
}

.card:active {
    cursor: grabbing;
}

.card header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card .cost {
    color: var(--bright-white);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 60%;
    aspect-ratio: 1/1;

    border-radius: 50%;
}

.card .cost.green   { background-color: var(--green); }
.card .cost.blue    { background-color: var(--blue ); }
.card .cost.red     { background-color: var(--red  ); }
.card .cost.black   { background-color: var(--black); }
.card .cost.neutral { background-color: var(--grey ); }

.card .cost:empty::before {
    width:  60%;
    height: 60%;
}

.card .cost.green:empty::before   { content: url(assets/acorn.svg); }
.card .cost.blue:empty::before    { content: url(assets/feather.svg); }
.card .cost.red:empty::before     { content: url(assets/paw.svg); }
.card .cost.black:empty::before   { content: url(assets/roots.svg); }
.card .cost.neutral:empty::before { content: url(assets/insect.svg); }

.card .name {
    font-size: 1.5rem;

    padding: 0px 4px;

}

.card .image {
    background-color: var(--black);
    border-radius: var(--card-section-radius);

    flex-basis: 40%;

    z-index: 3;
}

.card .types {
    background-color: var(--bright-white);
    border-radius: var(--card-section-radius);

    font-size: 0.8rem;

    padding: 0px 0px 0px 5px;

    margin-top: -2rem;
    padding-top: 2rem;
    z-index: 2;
}

.card .text {
    background-color: var(--semibright-white);
    border-radius: var(--card-section-radius);

    flex-grow: 1;

    padding: 5px;
    margin-top: -2rem;
    padding-top: calc(2rem + 5px);

    z-index: 1;
}

.card footer {
    font-size: 0.8rem;
    margin: 5px 1ch 0px 1ch;
}

/* hanging indents */
.card footer q::before {
    position: relative;
    display: inline-block;
    width: 0px;
    right: 0.7ch; /* NOTE: depends on the font used */
}

.card footer .author {
    font-style: italic;
    white-space: nowrap;
    float: right;
}

.author::before {
    content: "\2013";
    padding: 0px 0.9ch;
}
